@use "../../styles/partials/variables" as *;

.collection-page {
  margin: 4rem 0;

  &__title {
    font-size: 2rem;
    text-align: center;
    color: white;
    background-color: $bg-dark;
    width: 20rem;
    margin: 2.5rem auto;
    padding: 1.5rem 0;
    font-weight: 400;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__container {
    background-color: $bg-light;
    padding: 1rem 3rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 1rem;
  }
}
