@use "../../styles/partials/variables" as *;

.main {
  background-color: $bg-dark;

  &__cards {
    padding: 2rem 0;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    max-width: 46rem;
    margin: 3rem auto;
  }
}
