@use "../../styles/partials/variables" as *;

.admin {
  margin: 3rem auto;
  max-width: 50rem;

  &__title {
    margin-bottom: 2rem;
  }
}

.form {
  border-top: 1px solid $bg-dark;
  padding-top: 1rem;
  font-family: "Poppins", sans-serif;

  &__section {
    padding-bottom: 1rem;
    width: 100%;
  }

  &__section-title {
    font-size: 1rem;
    font-weight: 600;
    display: block;
  }

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__radio {
    width: 85%;
  }

  &__radio-input {
    opacity: 0;
    width: 0;
    position: fixed;

    // Adds a border around selected destination
    &:checked + label {
      border: 4px solid greenyellow;
    }
  }

  &__radio-label {
    display: block;
    width: 100%;
    height: 8rem;
    margin-bottom: 1rem;
    cursor: pointer;
    color: transparent;
    z-index: 2;

    &:hover {
      opacity: 0.7;
    }

    &--bicycles {
      background-image: url(../../assets/bicycles/bicycle-homepage.png);
      background-position: bottom -20px right 50%;
      background-size: cover;
      position: relative;

      &::after {
        content: "Bicycles";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 0.5rem;
        color: black;
        background: rgba(255, 255, 255, 0.6);
        font-family: "Major Mono Display", monospace;
        font-size: 1.5rem;
      }
    }
    &--tents {
      background-image: url(../../assets/tents/tent-homepage.png);
      background-position: bottom -65px right 50%;
      background-size: cover;
      position: relative;

      &::after {
        content: "Tents";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 0.5rem;
        color: black;
        background: rgba(255, 255, 255, 0.6);
        font-family: "Major Mono Display", monospace;
        font-size: 1.5rem;
      }
    }
    &--backpacks {
      background-image: url(../../assets/backpacks/backpack-homepage.png);
      background-position: center;
      background-size: cover;
      position: relative;

      &::after {
        content: "Backpacks";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 0.5rem;
        color: black;
        background: rgba(255, 255, 255, 0.6);
        font-family: "Major Mono Display", monospace;
        font-size: 1.5rem;
      }
    }
  }

  &__input {
    font-size: 1.2rem;
    padding: 0.625rem;
    background-color: $bg-light;
    border: none;
    border-bottom: 1px solid black;
    width: 100%;

    &:focus {
      outline: none;
    }
  }

  &__text-area {
    padding: 0.75rem;
    resize: none;
    overflow: auto;
    background-color: $bg-light;
    margin-top: 0.5rem;
  }
  &__footer {
    text-align: right;
    position: relative;
    top: -5rem;
  }

  &__button {
    font-family: "Major Mono Display", monospace;
    padding: 1rem 2rem;
    font-weight: bold;
    background-color: $bg-dark;
    border: 1px solid $bg-dark;
    color: white;

    &:hover {
      color: black;
      background-color: $bg-light;
      cursor: pointer;
    }

    &--cancel {
      background-color: $bg-light;
      color: black;
      margin-left: 2rem;

      &:hover {
        color: white;
        background-color: $bg-dark;
      }
    }

    &--image-upload {
      display: block;
      margin-left: auto;
      width: 18.3rem;
      text-align: center;
      position: relative;
      top: -0.5rem;
      background-color: $bg-alt;
      border: 1px solid $bg-alt;
    }
  }
}

input[type="file"] {
  display: none;
}
