@use "../../styles/partials/variables" as *;

.product-details {
  padding: 2rem 0 0;

  &__title {
    text-align: center;
    font-family: "Major Mono Display", monospace;
    margin-bottom: 1rem;
  }

  &__wrapper {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
  }

  &__page-title {
    text-align: center;
    padding: 1.5rem 2rem;
    background-color: $bg-dark;
    display: inline-block;
    color: white;
    font-size: 2rem;
  }

  &__container {
    width: 70rem;
    margin: 2rem auto 0;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    border-radius: 6px;
    overflow: hidden;
    font-family: "Poppins", sans-serif;
    display: flex;
  }

  &__image {
    width: 70%;
  }

  &__info {
    background-color: $bg-dark;
    color: white;
    padding: 2rem 1.5rem;
    width: 30%;
    display: flex;
    flex-direction: column;
  }

  &__copy {
    padding: 0.5rem 0;

    &--price {
      margin-top: auto;
      font-size: 1.3rem;
      font-weight: 600;
      font-family: "Major Mono Display", monospace;
      margin-bottom: 1rem;
    }
  }

  &__button {
    font-family: "Major Mono Display", monospace;
    background-color: $bg-light;
    padding: 1rem 2rem;
    border: 1px solid $bg-dark;
    font-weight: bold;

    &:hover {
      color: white;
      background-color: $bg-dark;
      border: 1px solid $bg-light;
      cursor: pointer;
    }
  }
}

.comments {
  width: 70rem;
  margin: 2rem auto;
  padding: 1.5rem;
  background-color: $bg-dark;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border-radius: 6px;

  &__title {
    font-weight: 400;
    text-align: center;
    margin-bottom: 2rem;
  }

  &__form {
    width: max-content;
    margin-left: auto;
  }

  &__text-area {
    display: block;
    padding: 0.75rem;
    margin-bottom: 0.5rem;
    resize: none;
    overflow: auto;
  }

  &__button {
    display: block;
    font-family: "Major Mono Display", monospace;
    background-color: $bg-light;
    padding: 1rem 2rem;
    border: 1px solid $bg-dark;
    font-weight: bold;
    margin-left: auto;

    &:hover {
      color: white;
      background-color: $bg-dark;
      border: 1px solid $bg-light;
      cursor: pointer;
    }
  }
}

.comment-card {
  background-color: $bg-light;
  color: black;
  font-family: "Poppins", sans-serif;
  margin: 1rem 0;
  padding: 0.7rem;

  &__name {
    font-weight: 600;
    font-size: 0.85rem;
    margin-top: 0.5rem;
  }
}
