@use "../../styles/partials/variables" as *;

.product-details {
  width: 40rem;
  margin: 2rem auto;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border-radius: 6px;
  overflow: hidden;
  font-family: "Poppins", sans-serif;

  &__image {
    width: 100%;
  }

  &__info {
    background-color: $bg-dark;
    color: white;
    padding: 1rem;
  }

  &__copy {
    padding: 0.5rem 0;
  }
}
