// Media Query Breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// Colors
$bg-light: #f0e9f1;
$bg-dark: #071f22;
$bg-alt: #78290f;

$primary-light: #e5e5e5;
$primary-dark: #15616d;
