.collection-preview {
  margin-top: 1rem;

  &__title {
    font-size: 2rem;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0 3rem;
  }
}
