.header {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  padding: 1rem 2rem;

  &__nav {
    display: flex;
    align-items: center;
  }

  &__nav-list {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-left: auto;
  }

  &__nav-item {
    padding: 0.25rem 0;

    &:hover,
    &--active {
      text-decoration: underline;
      text-underline-offset: 0.5rem;
      text-decoration-thickness: 0.15rem;
    }
  }

  &__mode {
    width: 3rem;
    height: 3rem;
    margin-left: 1rem;
    cursor: pointer;

    &--dark {
      background-image: url(../../assets/icons/dark-mode.svg);
    }
    &--light {
      background-image: url(../../assets/icons/light-mode.svg);
    }
  }
}
