/** Global StyleSheet =============================
 ============================================== **/

@use "./partials/variables" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: $bg-light;
  font-family: "Major Mono Display", monospace;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
  max-height: 70px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
